@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@font-face {
  font-family: 'gidole';
  src: url("../fonts/Gidole-Regular.ttf"); }

.ptSans-100 {
  font-family: "PT Sans";
  font-weight: 100; }

.ptSans-200 {
  font-family: "PT Sans";
  font-weight: 200; }

.ptSans-300 {
  font-family: "PT Sans";
  font-weight: 300; }

.ptSans-400 {
  font-family: "PT Sans";
  font-weight: 400; }

.ptSans-500 {
  font-family: "PT Sans";
  font-weight: 500; }

.ptSans-600 {
  font-family: "PT Sans";
  font-weight: 600; }

.ptSans-700 {
  font-family: "PT Sans";
  font-weight: 700; }

.ptSans-800 {
  font-family: "PT Sans";
  font-weight: 800; }

.ptSans-900 {
  font-family: "PT Sans";
  font-weight: 900; }

.poppins-100 {
  font-family: "Poppins";
  font-weight: 100; }

.poppins-200 {
  font-family: "Poppins";
  font-weight: 200; }

.poppins-300 {
  font-family: "Poppins";
  font-weight: 300; }

.poppins-400 {
  font-family: "Poppins";
  font-weight: 400; }

.poppins-500 {
  font-family: "Poppins";
  font-weight: 500; }

.poppins-600 {
  font-family: "Poppins";
  font-weight: 600; }

.poppins-700 {
  font-family: "Poppins";
  font-weight: 700; }

.poppins-800 {
  font-family: "Poppins";
  font-weight: 800; }

.poppins-900 {
  font-family: "Poppins";
  font-weight: 900; }

.gidole-100 {
  font-family: "gidole";
  font-weight: 100; }

.gidole-200 {
  font-family: "gidole";
  font-weight: 200; }

.gidole-300 {
  font-family: "gidole";
  font-weight: 300; }

.gidole-400 {
  font-family: "gidole";
  font-weight: 400; }

.gidole-500 {
  font-family: "gidole";
  font-weight: 500; }

.gidole-600 {
  font-family: "gidole";
  font-weight: 600; }

.gidole-700 {
  font-family: "gidole";
  font-weight: 700; }

.gidole-800 {
  font-family: "gidole";
  font-weight: 800; }

.gidole-900 {
  font-family: "gidole";
  font-weight: 900; }

.fontSize-1 {
  font-size: 1rem; }

.fontSize-1half {
  font-size: 1.5rem; }

.fontSize-2 {
  font-size: 2rem; }

.fontSize-2half {
  font-size: 2.5rem; }

.fontSize-3 {
  font-size: 3rem; }

.fontSize-3half {
  font-size: 3.5rem; }

.fontSize-4 {
  font-size: 4rem; }

.fontSize-4half {
  font-size: 4.5rem; }

.fontSize-5 {
  font-size: 5rem; }

.fontSize-5half {
  font-size: 5.5rem; }

.fontSize-6 {
  font-size: 6rem; }

.fontSize-6half {
  font-size: 6.5rem; }

.fontSize-7 {
  font-size: 7rem; }

.fontSize-7half {
  font-size: 7.5rem; }

.fontSize-8 {
  font-size: 8rem; }

.fontSize-8half {
  font-size: 8.5rem; }

.fontSize-9 {
  font-size: 9rem; }

.fontSize-9half {
  font-size: 9.5rem; }

.fontSize-10 {
  font-size: 10rem; }

.fontSize-10half {
  font-size: 10.5rem; }

.fontSize-half {
  font-size: 0.5rem; }

.black {
  color: #000000; }

.bg-black {
  background-color: #000000; }

.gray {
  color: #C4C4C4; }

.bg-gray {
  background-color: #C4C4C4; }

.white {
  color: #FFFFFF; }

.bg-white {
  background-color: #FFFFFF; }

.w-10 {
  width: 10%; }

.h-10 {
  height: 10%; }

.w-20 {
  width: 20%; }

.h-20 {
  height: 20%; }

.w-30 {
  width: 30%; }

.h-30 {
  height: 30%; }

.w-40 {
  width: 40%; }

.h-40 {
  height: 40%; }

.w-50 {
  width: 50%; }

.h-50 {
  height: 50%; }

.w-60 {
  width: 60%; }

.h-60 {
  height: 60%; }

.w-70 {
  width: 70%; }

.h-70 {
  height: 70%; }

.w-80 {
  width: 80%; }

.h-80 {
  height: 80%; }

.w-90 {
  width: 90%; }

.h-90 {
  height: 90%; }

.w-100 {
  width: 100%; }

.h-100 {
  height: 100%; }

.w-49 {
  width: 49%; }

.w-5 {
  width: 5%; }

.w-45 {
  width: 45%; }

.d-inline-flex {
  display: inline-flex; }

.d-block {
  display: block; }

.d-inline-block {
  display: inline-block; }

.d-contents {
  display: contents; }

.d-flex {
  display: flex; }

.d-grid {
  display: grid; }

.d-inline {
  display: inline; }

.mt-0 {
  margin-top: 0px; }

.ml-0 {
  margin-left: 0px; }

.mb-0 {
  margin-bottom: 0px; }

.mr-0 {
  margin-right: 0px; }

.m-0 {
  margin: 0px; }

.mt-1 {
  margin-top: 10px; }

.ml-1 {
  margin-left: 10px; }

.mb-1 {
  margin-bottom: 10px; }

.mr-1 {
  margin-right: 10px; }

.m-1 {
  margin: 10px; }

.mt-2 {
  margin-top: 20px; }

.ml-2 {
  margin-left: 20px; }

.mb-2 {
  margin-bottom: 20px; }

.mr-2 {
  margin-right: 20px; }

.m-2 {
  margin: 20px; }

.mt-3 {
  margin-top: 30px; }

.ml-3 {
  margin-left: 30px; }

.mb-3 {
  margin-bottom: 30px; }

.mr-3 {
  margin-right: 30px; }

.m-3 {
  margin: 30px; }

.mt-4 {
  margin-top: 40px; }

.ml-4 {
  margin-left: 40px; }

.mb-4 {
  margin-bottom: 40px; }

.mr-4 {
  margin-right: 40px; }

.m-4 {
  margin: 40px; }

.mt-5 {
  margin-top: 50px; }

.ml-5 {
  margin-left: 50px; }

.mb-5 {
  margin-bottom: 50px; }

.mr-5 {
  margin-right: 50px; }

.m-5 {
  margin: 50px; }

.mt-6 {
  margin-top: 60px; }

.ml-6 {
  margin-left: 60px; }

.mb-6 {
  margin-bottom: 60px; }

.mr-6 {
  margin-right: 60px; }

.m-6 {
  margin: 60px; }

.mt-7 {
  margin-top: 70px; }

.ml-7 {
  margin-left: 70px; }

.mb-7 {
  margin-bottom: 70px; }

.mr-7 {
  margin-right: 70px; }

.m-7 {
  margin: 70px; }

.mt-8 {
  margin-top: 80px; }

.ml-8 {
  margin-left: 80px; }

.mb-8 {
  margin-bottom: 80px; }

.mr-8 {
  margin-right: 80px; }

.m-8 {
  margin: 80px; }

.mt-9 {
  margin-top: 90px; }

.ml-9 {
  margin-left: 90px; }

.mb-9 {
  margin-bottom: 90px; }

.mr-9 {
  margin-right: 90px; }

.m-9 {
  margin: 90px; }

.mt-10 {
  margin-top: 100px; }

.ml-10 {
  margin-left: 100px; }

.mb-10 {
  margin-bottom: 100px; }

.mr-10 {
  margin-right: 100px; }

.m-10 {
  margin: 100px; }

.pt-0 {
  padding-top: 0px; }

.pl-0 {
  padding-left: 0px; }

.pb-0 {
  padding-bottom: 0px; }

.pr-0 {
  padding-right: 0px; }

.p-0 {
  padding: 0px; }

.pt-1 {
  padding-top: 10px; }

.pl-1 {
  padding-left: 10px; }

.pb-1 {
  padding-bottom: 10px; }

.pr-1 {
  padding-right: 10px; }

.p-1 {
  padding: 10px; }

.pt-2 {
  padding-top: 20px; }

.pl-2 {
  padding-left: 20px; }

.pb-2 {
  padding-bottom: 20px; }

.pr-2 {
  padding-right: 20px; }

.p-2 {
  padding: 20px; }

.pt-3 {
  padding-top: 30px; }

.pl-3 {
  padding-left: 30px; }

.pb-3 {
  padding-bottom: 30px; }

.pr-3 {
  padding-right: 30px; }

.p-3 {
  padding: 30px; }

.pt-4 {
  padding-top: 40px; }

.pl-4 {
  padding-left: 40px; }

.pb-4 {
  padding-bottom: 40px; }

.pr-4 {
  padding-right: 40px; }

.p-4 {
  padding: 40px; }

.pt-5 {
  padding-top: 50px; }

.pl-5 {
  padding-left: 50px; }

.pb-5 {
  padding-bottom: 50px; }

.pr-5 {
  padding-right: 50px; }

.p-5 {
  padding: 50px; }

.pt-6 {
  padding-top: 60px; }

.pl-6 {
  padding-left: 60px; }

.pb-6 {
  padding-bottom: 60px; }

.pr-6 {
  padding-right: 60px; }

.p-6 {
  padding: 60px; }

.pt-7 {
  padding-top: 70px; }

.pl-7 {
  padding-left: 70px; }

.pb-7 {
  padding-bottom: 70px; }

.pr-7 {
  padding-right: 70px; }

.p-7 {
  padding: 70px; }

.pt-8 {
  padding-top: 80px; }

.pl-8 {
  padding-left: 80px; }

.pb-8 {
  padding-bottom: 80px; }

.pr-8 {
  padding-right: 80px; }

.p-8 {
  padding: 80px; }

.pt-9 {
  padding-top: 90px; }

.pl-9 {
  padding-left: 90px; }

.pb-9 {
  padding-bottom: 90px; }

.pr-9 {
  padding-right: 90px; }

.p-9 {
  padding: 90px; }

.pt-10 {
  padding-top: 100px; }

.pl-10 {
  padding-left: 100px; }

.pb-10 {
  padding-bottom: 100px; }

.pr-10 {
  padding-right: 100px; }

.p-10 {
  padding: 100px; }

.textAlign-center {
  text-align: center; }

.textAlign-right {
  text-align: right; }

.textAlign-left {
  text-align: left; }

button {
  background: linear-gradient(90deg, #D68BE5 0%, #E184A8 49.48%, #F67A40 100%);
  border-radius: 20px;
  padding: 10px 40px 10px 40px;
  border: 0px; }

.button-lg {
  padding: 20px 40px 20px 40px;
  border-radius: 50px; }

.button-lg-border {
  padding: 0px;
  border-radius: 50px; }

.button-border-gradient {
  padding: 16px;
  margin: 3px;
  border-radius: 50px; }

input {
  background-color: #D9D9D9;
  border: 0;
  padding: 20px 20px 20px 20px;
  margin: 0;
  font-size: 1.5rem; }
  input:focus {
    border: none; }

.iconInput {
  background: linear-gradient(90deg, #D68BE5 0%, #E184A8 49.48%, #F67A40 100%);
  padding: 20px 30px 20px 30px;
  border-radius: 0 20px 20px 0px;
  font-style: normal; }

hr, ul {
  margin-left: 3%;
  margin-right: 3%; }

a {
  text-decoration: none;
  color: #000000; }

ul {
  list-style-type: none;
  text-decoration: none;
  color: #000000;
  padding: 0; }

li {
  display: inline-flex;
  width: auto;
  font-size: 1.3rem;
  font-family: 'gidole',sans-serif; }

.margin {
  margin-left: 8%;
  margin-right: auto;
  align-items: center; }

.alignItemCenter {
  align-items: center; }

section {
  max-width: 100%;
  margin: 0;
  padding: 0; }

.gridLayout {
  margin-top: 30px;
  width: 94%;
  padding-left: 3%;
  padding-right: 3%;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%; }
  .gridLayout .box-1-5 {
    grid-column: 1/5;
    align-self: center;
    margin: 0; }
  .gridLayout .box-3-9 {
    grid-column: 3/9;
    align-self: center;
    margin: 0; }
  .gridLayout .box-2-10 {
    grid-column: 2/10;
    align-self: center;
    margin: 0; }
  .gridLayout .box-4-8 {
    grid-column: 4/8;
    align-self: center;
    margin: 0; }
  .gridLayout .box-6-10 {
    grid-column: 6/10;
    align-self: center; }
  .gridLayout .box-6-11 {
    grid-column: 6/11;
    align-self: center; }
  .gridLayout .box-2-9 {
    margin-top: 40px;
    grid-column: 2/9;
    align-self: center; }
  .gridLayout .box-3-8 {
    grid-column: 3/8;
    align-self: center; }

footer a {
  text-decoration: underline; }

.vector-7 {
  position: absolute;
  left: 0%;
  right: 62.86%;
  top: 47.72%;
  bottom: 13.9%;
  transform: matrix(1, 0, 0, -1, 0, 0); }

.alignSelf-center {
  align-self: center; }

.border-1 {
  border: 1px solid black; }
