
@for $i from 1 through 10{
    .w-#{$i*10}{
        width: #{$i*10*1%} ;
    }
    .h-#{$i*10}{
        height: #{$i*10*1%};
    }
}

.w-49{
    width: 49%;
}

.w-5{
    width: 5%;
}

.w-45{
    width: 45%;
}